<!doctype html>
<html lang="en">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.0.2 -->

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <ul>
                    <li>@ViewBag.ExamId</li>
                    <li>@ViewBag.FullName</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Bootstrap JavaScript Libraries -->
</body>
</html>