
<!doctype html>
<html lang="en">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.0.2 -->

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <ul>
                    @for(int i = 0; i < ViewBag.Exams.Count; i++)
            {
                <li><a href="/exam/detail/@ViewBag.Exams[i].Id.ToString()">@ViewBag.Exams[i].Id.ToString() - @ViewBag.Exams[i].StudentFullName</a></li>
            }
                </ul>
            </div>
        </div>
    </div>
    <!-- Bootstrap JavaScript Libraries -->
</body>
</html>